.container {
  display: flex;
  align-items: center;
}

.container__div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 95px;
  background-color: #0e0e0e;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar nav {
  margin: 50px;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23.34px;
}

.JS {
  width: fit-content;
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}
.hub {
  width: fit-content;
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}

.style__title .hub__container {
  margin: -17px;
  gap: 1.37px;
  padding: 0.13px 6.18px;
  background-color: #ff9000;
  border-radius: 2.75px;
}

.style__title .hub {
  color: black;
}

@media (max-width: 528px) {
  .style__title {
    font-size: 15.7px;
  }
  .navbar nav {
    margin: 15px;
  }
}

.container__box__tags {
  justify-content: center;
  display: flex;
  align-items: center;

  margin: 15px 10px 20px 20px;
}

@media (max-width: 1288px) {
  .container__box__tags {
    overflow: scroll;
  }
}

.box__tag {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16.68px 12px 16.88px;
  position: relative;
  flex: 0 0 auto;
  background-color: #151515;
  border-radius: 20px;
  border: 2px solid;
  border-color: #202020;

  margin: 5px;
}

.container__content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container__title {
  margin: 30px 0;
}

.container__title h2 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 90%;
}

.container__main__cards {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contianer__main {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 334px) {
  .card img {
    width: 222.27px;
    height: 81.27px;
  }
}

.card {
  margin: 15px;
}

.card img {
  width: 322.27px;
  height: 181.27px;
}

.card__name {
  width: fit-content;
  margin-top: -1px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: #c6c6c6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.content {
  gap: 5px;
  margin: 0 12px 0 0;
}

.card__content img {
  width: 13px;
  height: 16px;
}

.card__subtitle {
  height: 14px;
  top: -1px;
  left: 17px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: #767676;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.description__card p {
  width: fit-content;
  margin-top: -1px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: #c6c6c6;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 17px;
}

.description__card img {
  font-size: 15px;
}

.description__card {
  justify-content: space-between;
}

.container__footer {
  width: 100%;
  height: 136px;
  background-color: #0e0e0e;
  width: 100%;
  height: 136px;

  margin-top: 50px;
}
.hub__container {
  gap: 1.37px;
  padding: 0.13px 6.18px;
  position: relative;
  flex: 0 0 auto;
  background-color: #3d3d3d;
  border-radius: 2.75px;
}

.hub__container h2 {
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}

.JS__footer {
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #3d3d3d;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}

.footer_box {
  margin-top: 200px;
}

.style__title__footer {
}

.footer__box,
.hub__container {
  margin-top: 50px;
}
