.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 95px;
  background-color: #0e0e0e;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar nav {
  margin: 50px;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23.34px;
}

.JS {
  width: fit-content;
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}
.hub {
  width: fit-content;
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}

.style__title .hub__container {
  margin: -17px;
  gap: 1.37px;
  padding: 0.13px 6.18px;
  background-color: #ff9000;
  border-radius: 2.75px;
}

.style__title .hub {
  color: black;
}

@media (max-width: 528px) {
  .style__title {
    font-size: 15.7px;
  }
  .navbar nav {
    margin: 15px;
  }
}

.container__footer {
  width: 100%;
  height: 136px;
  background-color: #0e0e0e;
  width: 100%;
  height: 136px;

  margin-top: 50px;
}
.hub__container {
  gap: 1.37px;
  padding: 0.13px 6.18px;
  flex: 0 0 auto;
  background-color: #3d3d3d;
  border-radius: 2.75px;
}

.hub__container h2 {
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}

.JS__footer {
  margin-top: -0.14px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #3d3d3d;
  font-size: 27.7px;
  letter-spacing: -0.55px;
  line-height: normal;
  white-space: nowrap;
}

.footer_box {
  margin-top: 200px;
}

.style__title__footer {
}

.footer__box,
.hub__container {
  margin-top: 50px;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px 0;
}

@media (max-width: ) {
  .main__container {
    margin: 180px 0;
  }
}

.hide {
  display: none !important;
}

.frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.frame-wrapper {
  flex: 0 0 auto;
  background-color: #0e0e0e;
  border-radius: 10px;
  border: 1px solid;
  border-color: #202020;
}

.frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.rectangle {
  width: 705px;
  height: 352px;
  border-radius: 30px;
  border: 5px dashed;
  border-color: #ff9000;

  justify-content: center;
  align-items: center;
  display: flex;
}

.group-2 {
  width: 360px;
  height: 239px;
}

.overlap-group {
  width: 358px;
  height: 49px;
  top: 190px;
  background-color: #ff9000;
  border-radius: 10px;
}

.hide {
  display: none !important;
}
.text-wrapper-4 {
  height: 29px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-4:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-5 {
  display: flex;
  flex-wrap: wrap;
  width: 366px;
  align-items: center;
  gap: 41px 17px;
}

.text-wrapper-5 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-6 {
  width: 74px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: #929292;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.p {
  width: 284px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: white;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle-wrapper {
  width: 366px;
  height: 13px;
  background-color: #3d3d3d;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: #ff9000;
  border-radius: 20px;
}
progress::-webkit-progress-bar {
  background-color: #3d3d3d;
  border-radius: 20px;
}

progress {
  accent-color: #ff9000;
  width: 100%;
  height: 13px;
  /* accent-color: #ff9000; */
  /* color: yellow; */
  border-radius: 20px;
}

.rectangle-2 {
  width: 193px;
  height: 13px;
  background-color: #ff9000;
  border-radius: 20px;
}

.frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.video__canvas {
  width: 400px;
  height: 200px;
}

.line {
  border: 1px solid gray;
  width: 100%;
}

@media (max-width: 499px) {
  .frame-5 {
    text-align: center;
  }
  .video__canvas {
    width: 100px;
    height: 80px;
  }
  .text-wrapper-5 {
    font-size: 12px;
  }
}

@media (max-width: 842px) {
  .rectangle {
    width: 305px;
  }
  .overlap-group {
    width: 258px;
  }
  .text-wrapper-4 {
    font-size: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .frame-5 {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    align-items: center;
    gap: 41px 17px;
  }
  .text-wrapper-5 {
    font-size: 10px;
    margin-top: 10px;
  }
}


@media (min-height: 1144px){
  .main__container{
    margin: 380px 0;
  }
}


